.App {
  font-family: "Rubik", sans-serif;
  color: #382422;
}
html {
  background: #fef6f2;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #ba5229;
}
p {
  font-size: 20px;
  font-weight: 400;
}
/* About section */
.about {
  background: #fffcf6;
  padding-top: 5%;
  padding-bottom: 15%;
}
.avatar-img {
  float: center;
  height: 360px;
  width: 450px;
  box-shadow: 10px 10px 0 #ffd0bd;
}
.circle {
  float: left;
  height: 450px;
  width: 200px;
  shape-outside: circle(50% at 0 50%);
  shape-margin: 1rem;
  clip-path: circle(50% at 0 50%);
  background: linear-gradient(to top right, #fdb171, #fdaa93);
}
/* Projects section */
.project-container {
  background: #fffcf6;
}
.project-row {
  padding: 20px;
  margin: 10px;
}
.project-img {
  float: right;
  height: 345px;
  width: 600px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #ffd0bd;
}
/* Grow Shadow */
.project-img:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #ffd0bd;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.project-img:hover,
.project-img:focus,
.project-img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
span {
  display: block;
}
ul {
  list-style-type: none;
  display: inline;
  background-color: #b6c5d1;
  line-height: 2.5;
  margin: 0 5px 25px;
  padding: 7px 7px 5px;
}
button#project-button.learn-more {
  font-size: 14px;
  margin: 10px 20px 10px 5px;
  padding: 0.8em 1em;
}
a.project-link {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #382422;
  text-decoration: none;
}
/* Sink effect*/
.project-link:hover {
  color: #382422;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.project-link:hover,
.project-link:focus,
.project-link:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*  Contact Page */
.contact-container {
  background: #fef6f2;
  padding-top: 5%;
  padding-bottom: 15%;
}

/* Learn More button */
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  font-weight: 600;
  color: #382422;
  text-transform: uppercase;
  padding: 1.25em 1.5em;
  background: #ffcbb7;
  border: 2px solid #ba5229;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f69772;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #ba5229, 0 0.625em 0 0 #ffd0bd;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  -webkit-transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    box-shadow 150ms cubic-bezier(0, 0, 0.58, 1),
    -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #ffcbb7;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #ba5229, 0 0.5em 0 0 #ffd0bd;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background: #ffcbb7;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #ba5229, 0 0 #ffd0bd;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
}
